In [2]:
# install main library YFinance
!pip install yfinance

# Install Pandas Datareader
!pip install pandas-datareader

Requirement already satisfied: yfinance in /Users/moladin/anaconda3/lib/python3.11/site-packages (0.2.38)
Requirement already satisfied: pandas>=1.3.0 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from yfinance) (3.17.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/moladin/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2024.2.2)
Requirement already satisfied: pandas-datareader in /Users/moladin/anaconda3/lib/python3.11/site-packages (0.10.0)
Requirement already satisfied: lxml in /Users/moladin/anaconda3/lib/python3.11/site-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from pandas-datareader) (2.0.3)
Requirement already satisfied: requests>=2.19.0 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from pandas-datareader) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from pandas>=0.23->pandas-datareader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from pandas>=0.23->pandas-datareader) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from pandas>=0.23->pandas-datareader) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from requests>=2.19.0->pandas-datareader) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from requests>=2.19.0->pandas-datareader) (2024.2.2)
Requirement already satisfied: six>=1.5 in /Users/moladin/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas-datareader) (1.16.0)

In [3]:
# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

In [5]:
end = date.today()
print(f'Year = {end.year}; month= {end.month}; day={end.day}')

start = date(year=end.year-70, month=end.month, day=end.day)
print(f'Period for indexes: {start} to {end} ')

Year = 2024; month= 4; day=23
Period for indexes: 1954-04-23 to 2024-04-23

In [6]:
# Real Potential Gross Domestic Product (GDPPOT), Billions of Chained 2012 Dollars, QUARTERLY
# https://fred.stlouisfed.org/series/GDPPOT
gdppot = pdr.DataReader("GDPC1", "fred", start=start)

In [7]:
print(gdppot.GDPC1.shift(4))

DATE
1954-07-01          NaN
1954-10-01          NaN
1955-01-01          NaN
1955-04-01          NaN
1955-07-01     2880.482
                ...
2022-10-01    21847.602
2023-01-01    21738.871
2023-04-01    21708.160
2023-07-01    21851.134
2023-10-01    21989.981
Name: GDPC1, Length: 278, dtype: float64

In [8]:
# Homework no 1
gdppot['gdppot_us_yoy'] = round(gdppot.GDPC1/gdppot.GDPC1.shift(4)-1,3)*100
gdppot['gdppot_us_qoq'] = round(gdppot.GDPC1/gdppot.GDPC1.shift(1)-1,3)*100
gdppot.tail()

# answer: 2.2%

                GDPC1  gdppot_us_yoy  gdppot_us_qoq
DATE
2022-10-01  21989.981            0.7            0.6
2023-01-01  22112.329            1.7            0.6
2023-04-01  22225.350            2.4            0.5
2023-07-01  22490.692            2.9            1.2
2023-10-01  22679.255            3.1            0.8

In [9]:
result = np.average(gdppot.tail(4).gdppot_us_yoy)
print(result)

2.525

#2

In [95]:
# delayed 15 min : https://finance.yahoo.com/quote/%5ESPX/
# S&P 500 INDEX : Chicago Options - Chicago Options Delayed Price. Currency in USD
snp500_daily = yf.download(tickers = "^GSPC",
                     period = "5y",
                     interval = "1d",
                     start="2019-04-09",
                     end="2024-04-09")
snp500_daily.tail()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-04-02,5204.290039,5208.339844,5184.049805,5205.810059,5205.810059,3886590000
2024-04-03,5194.370117,5228.750000,5194.370117,5211.490234,5211.490234,3703250000
2024-04-04,5244.049805,5256.589844,5146.060059,5147.209961,5147.209961,4075680000
2024-04-05,5158.950195,5222.180176,5157.209961,5204.339844,5204.339844,3386780000
2024-04-08,5211.370117,5219.569824,5197.350098,5202.390137,5202.390137,3278180000

In [19]:
snp500_daily.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-22,2898.780029,2909.510010,2896.350098,2907.969971,2907.969971,3010130000
2019-04-23,2909.989990,2936.310059,2908.530029,2933.679932,2933.679932,3674480000
2019-04-24,2934.000000,2936.830078,2926.050049,2927.250000,2927.250000,3468480000
2019-04-25,2928.989990,2933.100098,2912.840088,2926.169922,2926.169922,3440010000
2019-04-26,2925.810059,2939.879883,2917.560059,2939.879883,2939.879883,3264390000

In [93]:
ipc_mexico_daily = yf.download(tickers = "^MXX",
                     period = "5y",
                     interval = "1d",
                     start="2019-04-09",
                     end="2024-04-09")
ipc_mexico_daily.tail()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-04-02,57593.621094,57830.878906,57235.589844,57581.808594,57581.808594,180753600
2024-04-03,57547.191406,58086.421875,57300.109375,57503.390625,57503.390625,189285300
2024-04-04,57539.468750,58219.500000,57514.179688,57882.761719,57882.761719,184739700
2024-04-05,57805.191406,58227.839844,57678.609375,58092.441406,58092.441406,212252300
2024-04-08,58021.660156,58192.320312,57749.441406,57989.941406,57989.941406,154641800

In [18]:
ipc_mexico_daily.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-22,45507.781250,45590.441406,45321.218750,45381.218750,45381.218750,86717900
2019-04-23,45355.929688,45424.421875,44948.691406,45148.320312,45148.320312,132582400
2019-04-24,45112.128906,45186.269531,44666.250000,45045.328125,45045.328125,131485100
2019-04-25,45005.039062,45064.929688,44712.300781,45026.679688,45026.679688,125639200
2019-04-26,45074.699219,45208.371094,44769.351562,44974.968750,44974.968750,109775400

In [ ]:
z

In [102]:
snp500_daily['adj_close_last_year'] = snp500_daily['Adj Close'][0]
snp500_daily['yoy_growth'] = snp500_daily['Open'][-1] / snp500_daily['adj_close_last_year'] -1
snp500_daily['yoy_growth']

Date
2019-04-09    0.810635
2019-04-10    0.810635
2019-04-11    0.810635
2019-04-12    0.810635
2019-04-15    0.810635
                ...
2024-04-02    0.810635
2024-04-03    0.810635
2024-04-04    0.810635
2024-04-05    0.810635
2024-04-08    0.810635
Name: yoy_growth, Length: 1258, dtype: float64

#4

In [62]:
sr_weekly = yf.download(tickers = "2222.SR",
                     period = "1y",
                     interval = "1d",
                     auto_adjust=True,
                     start="2023-01-01",
                     end="2023-12-31")
print(round((sr_weekly.Close.max()-sr_weekly.Close.min())/sr_weekly.Close.max(),2))

[*********************100%%**********************]  1 of 1 completed

0.21

In [63]:
BRK_weekly = yf.download(tickers = "BRK-B",
                     period = "1y",
                     interval = "1d",
                     auto_adjust=True,
                     start="2023-01-01",
                     end="2023-12-31")
print(round((BRK_weekly.Close.max()-BRK_weekly.Close.min())/BRK_weekly.Close.max(),2))

[*********************100%%**********************]  1 of 1 completed

0.21

In [128]:
round(tickers.tickers['BRK-B'].dividends/BRK_weekly.Close[-1]*100,2)

Series([], Name: Dividends, dtype: float64)

In [65]:
AAPL_weekly = yf.download(tickers = "AAPL",
                     period = "1y",
                     interval = "1d",
                     auto_adjust=True,
                     start="2023-01-01",
                     end="2023-12-31")
print(round((AAPL_weekly.Close.max()-AAPL_weekly.Close.min())/AAPL_weekly.Close.max(),2))

[*********************100%%**********************]  1 of 1 completed

0.37

In [127]:
round(tickers.tickers['AAPL'].dividends/AAPL_weekly.Close[-1]*100,2)

Date
1987-05-11 00:00:00-04:00    0.00
1987-08-10 00:00:00-04:00    0.00
1987-11-17 00:00:00-05:00    0.00
1988-02-12 00:00:00-05:00    0.00
1988-05-16 00:00:00-04:00    0.00
                             ...
2023-02-10 00:00:00-05:00    0.12
2023-05-12 00:00:00-04:00    0.12
2023-08-11 00:00:00-04:00    0.12
2023-11-10 00:00:00-05:00    0.12
2024-02-09 00:00:00-05:00    0.12
Name: Dividends, Length: 82, dtype: float64

In [66]:
MSFT_weekly = yf.download(tickers = "MSFT",
                     period = "1y",
                     interval = "1d",
                     auto_adjust=True,
                     start="2023-01-01",
                     end="2023-12-31")
print(round((MSFT_weekly.Close.max()-MSFT_weekly.Close.min())/MSFT_weekly.Close.max(),2))

[*********************100%%**********************]  1 of 1 completed

0.42

In [126]:
round(tickers.tickers['MSFT'].dividends/MSFT_weekly.Close[-1]*100,2)

Date
2003-02-19 00:00:00-05:00    0.02
2003-10-15 00:00:00-04:00    0.04
2004-08-23 00:00:00-04:00    0.02
2004-11-15 00:00:00-05:00    0.82
2005-02-15 00:00:00-05:00    0.02
                             ...
2023-02-15 00:00:00-05:00    0.18
2023-05-17 00:00:00-04:00    0.18
2023-08-16 00:00:00-04:00    0.18
2023-11-15 00:00:00-05:00    0.20
2024-02-14 00:00:00-05:00    0.20
Name: Dividends, Length: 81, dtype: float64

In [67]:
GOOG_weekly = yf.download(tickers = "GOOG",
                     period = "1y",
                     interval = "1d",
                     auto_adjust=True,
                     start="2023-01-01",
                     end="2023-12-31")
print(round((GOOG_weekly.Close.max()-GOOG_weekly.Close.min())/GOOG_weekly.Close.max(),2))

[*********************100%%**********************]  1 of 1 completed

0.39

In [125]:
round(tickers.tickers['GOOG'].dividends/GOOG_weekly.Close[-1]*100,2)

Series([], Name: Dividends, dtype: float64)

In [59]:
JPM_weekly = yf.download(tickers = "JPM",
                     period = "1y",
                     interval = "1d",
                     auto_adjust=True)
print(round((JPM_weekly.Close.max()-JPM_weekly.Close.min())/JPM_weekly.Close.max(),2))

[*********************100%%**********************]  1 of 1 completed

0.34

In [123]:
round(tickers.tickers['JPM'].dividends/JPM_weekly.Close[-1]*100,2)

Date
1984-03-09 00:00:00-05:00    0.10
1984-06-11 00:00:00-04:00    0.10
1984-09-10 00:00:00-04:00    0.10
1984-12-10 00:00:00-05:00    0.10
1985-03-11 00:00:00-05:00    0.11
                             ...
2023-04-05 00:00:00-04:00    0.53
2023-07-05 00:00:00-04:00    0.53
2023-10-05 00:00:00-04:00    0.55
2024-01-04 00:00:00-05:00    0.55
2024-04-04 00:00:00-04:00    0.61
Name: Dividends, Length: 162, dtype: float64

In [130]:
import yfinance as yf

tickers = yf.Tickers('2222.SR BRK-B msft aapl goog JPM')

# access each ticker using (example)
round(tickers.tickers['2222.SR'].dividends.sum()/sr_weekly.Close[-1]*100,2)

12.31